#Ignore Everything
*

#Allowed Directories
!/notebooks/
!/src/
## Excluded Folders in SubDirectories
**/__pycache__/

#Allowed Files
!.dockerignore
!.gitignore
!.python-version
!Dockerfile
!pyproject.toml
!README.md
!requirements-docker.txt
!uv.lock